doctype html
meta(name='viewport', content='width=device-width,initial-scale=1.0,minimum-scale=1,maximum-scale=10,user-scalable=no')
meta(http-equiv="content-type", content="text/html;charset=utf-8")

html(lang="ko")
    head
        title 케모노는 있지만 노케모는없어
    body(align="center")
        img(src="kemono.jpg",width="100%")
        h1 케모노봇
        h1 봇상태 - ON